body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}


.container {
    margin: 0;
    padding: 0;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    max-width: 960px;
    max-height: 960px;
}

.box {

    border-color: black;
    border-width: 1px;
    border-style: solid;
    opacity: 0.1;

}

.hovered {
    background-color: pink;
    
}

button {

    width: 120px;
    height: 40px;
    border-radius: 10px;
}